*{
    margin: 0%;
    padding: 0%;    
    color: rgb(159, 159, 241);
    background: black;
    font-size: 35px
    
}

h1{
    text-align: center;
    color: blue;
    font-size: 80px
}

h2{
    color: blue;
    background-color: white;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    
}

h3{
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;  
    color: blue;
}

.modelos{
    margin-left: 30px;
    margin-right: 30px;
}

.avatar {
margin: 0 40%;
background-repeat: none;

}

p{
    text-align: justify;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table{
    width: 100%;
    background: white;
}

td{
    width: 25%;
    background: white;
    text-align: center;
    color: red;
}