*{
    color: grey;
    background-color: black;
    font-size: 40px
}

@front-face {
    front-family:
    src:
}
/* globales */

body{
    background-image: url(./fotosbmw/LogoBMW.jfif);
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    color: blue;
    font-size: 100px
}
div{
    background-color:white;
    color:black;
    font-size: 20px
}